body {
  background-color: #fafafa;
  font-size: 14px;
  line-height: 1.29;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #111111;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.72px;
}
.icon-header {
  color: inherit;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.54px;
  font-weight: 700;
  text-transform: uppercase;
}
.span-icon {
  color: inherit;
  font-style: italic;
  font-weight: 700;
}
.header-icon-img {
  fill: #fafafa;
  stroke: #fd9222;
}
.nav-header > li > a {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
}
.header-item:hover,
.header-item:focus {
  color: #fd9222;
}
.header-sicials-icon {
  color: #111111;
  stroke: currentColor;
  fill: none;
}
.header-link:hover .header-sicials-icon,
.header-link:focus .header-sicials-icon {
  color: #fd9222;
}

.start-page {
  background-color: rgba(17, 17, 17, 0.5);
}
.title-doc {
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.84px;
}
.btn-start-first {
  background-color: #fd9222;
  color: #ffffff;
  font-weight: 600;
  border-color: #fd9222;
}
.btn-start-first:hover,
.btn-start-first:focus {
  background-color: #fcf1e0;
  color: #fd9222;
  border-color: #fcf1e0;
}
.btn-start-second {
  color: #ffffff;
  background-color: inherit;
  border-color: #ffffff;
}
.btn-start-second:hover,
.btn-start-second:focus {
  background-color: #ffffff;
  color: #fd9222;
  border-color: #fd9222;
}

.btn-scroll {
  font-weight: 500;
  background-color: inherit;
  color: #ffffff;
  border: none;
}
.btn-scroll:hover,
.btn-scroll:focus {
  color: #fd9222;
}
.scroll-icon {
  color: #fd9222;
  fill: currentColor;
  background-color: #ffffff;
}
.btn-scroll:hover .scroll-icon,
.btn-scroll:focus .scroll-icon {
  color: #ffffff;
  background-color: #fd9222;
}

.benefits {
  background-color: #1e1823;
}
.benefits-icon-first {
  color: #fd9222;
  fill: currentColor;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.18px;
}
.benefits-text {
  color: #ffffff;
  letter-spacing: -0.28px;
}
.ingredients {
  background-color: #ffffff;
}
.ingredients-text {
  letter-spacing: -0.28px;
  text-align: center;
}
.ingredients-span {
  color: #fd9222;
}
.ingredients-box-text {
  text-transform: uppercase;
  letter-spacing: -0.28px;
}
.box-first {
  background-color: #fd9222;
}
.box-first-text {
  color: #ffffff;
}
.box-second {
  border: #fd9222;
  background-color: #ffffff;
}
.box-second-text {
  text-transform: uppercase;
}
.box-third {
  background-color: #1e1823;
}
.box-third-text {
  color: #ffffff;
}
.box-fourth {
  border: #fd9222;
  background-color: #ffffff;
}
.recipe-title {
}
.recipe-span {
  color: #fd9222;
}
.box-recipe {
  background-color: #ffffff;
}
.title-recipe-list {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}
.list-recipe {
  letter-spacing: -0.28px;
}
.offer-banner {
  fill: rgba(17, 17, 17, 0.1);
}
.product-span {
  color: #fd9222;
}
.product-card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.36px;
  font-weight: 600;
}
.product-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.24px;
  color: rgba(17, 17, 17, 0.7);
}
.btn-product-card {
  background-color: #fafafa;
  font-weight: 600;
}
.selerrs-title-span {
  color: #fd9222;
}
.selers-text {
  letter-spacing: -0.28px;
}
.selers-btn {
  background-color: #fd9222;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.selers-btn:hover,
.selers-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.reviews-title-span {
  color: #fd9222;
}
.reviews-box {
  background-color: #ffffff;
}

.riviews-name {
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}
.riviews-text {
  text-align: center;
  letter-spacing: -0.28px;
  color: rgba(17, 17, 17, 0.7);
}
.banner-cort {
  fill: rgba(17, 17, 17, 0.1);
}
.reviews-btn {
  font-size: 18px;
  font-weight: 600;
  background-color: inherit;
  border-color: #fd9222;
}
.reviews-btn:hover,
.reviews-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}
.subcribe {
  background-color: #111111;
}
.subcribe-title {
  color: #ffffff;
}
.subcribe-text {
  color: #ffffff;
  letter-spacing: -0.28px;
}
.subcribe-btn {
  background-color: #fd9222;
  color: #ffffff;
  font-weight: 600;
}
.subcribe-btn:hover,
.subcribe-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.footer-box {
  background-color: #1e1823;
}
.footer-text {
  color: #ffffff;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.56px;
  font-weight: 500;
}
.footer-span {
  color: #fd9222;
}
.contact-title {
  color: #ffffff;
  font-weight: 500;
}
.contact-tel {
  color: #ffffff;
}
.contact-mail {
  color: #ffffff;
}
.nav-footer-list {
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.nav-footer-list:hover,
.nav-footer-list:focus {
  color: #fd9222;
}
.footer-list {
}
.footer-item {
}
.footer-socials-img {
  color: white;
  stroke: currentColor;
}
.footer-contact:hover,
.footer-contact:focus {
  color: #fd9222;
}
/* .footer-socials-img:hover,
.footer-socials-img:focus {
  color: #fd9222;
} */
.link-footer:focus .footer-socials-img,
.link-footer:hover .footer-socials-img {
  color: #fd9222;
}
